<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add hotel</title>
</head>
<body>
    <form id="form_addhotel">
    <input type="text" value="Hotel_Name" id="Hotel_Name">
    <input type="text" value="city" id="city">
    <input type="number" value="price in INR" id="price">
    <input type="submit" value="add">
    <script src="addhotel.js"></script>
</form>
<script src="http://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
</body>
</html>