<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
  
   <ul id="hotellist"></ul>
   <form id="filter">
  <input type="text" name="search" id="search">
  <input type="lowerprice" id="lowerprice">
  <input type="upperprice" id="upperprice">
    <input type="date" name="startdate" id="startdate">
<input type="date" name="enddate" id="enddate">
    <input type="submit" value="search" id="filterSubmit">



   </form>
   <button id="mybooking">mybooking</button>
   <ul id="bookinglist"></ul>
<script src="homepage.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
</body>

</html>