<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add hotel</title>
</head>
<body>
    <form id="form_room">
    <input type="text" value="Room Type" id="Room_Type">
    <input type="text" value="Hotel Name" id="Hotel_Name">
    <input type="number" value="price in INR" id="price">
    <input type="submit" value="add">
    <script src="room.js"></script>
</form>
<script src="http://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
</body>
</html>